Always prefer ?? instead of || but not in if statements,
Project is using shadcn/ui for the UI components and tailwind css,
Project is using react-hook-form for the form handling,
Project is using next-intl and three language support: russian english estonian,
For texts always use next-intl and add ru translations if not asked for other languages,
Don't use next/image,
Don't use next/link instead check navigation.ts and i18n.ts for the more info,
When useErrorHandler is used and form object passed to it - don't translate errors in the form cause error messages will be setted and translated from the backend,